<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
    <i class="fa fa-book text-warning" aria-hidden="true"></i>
    <span class="text-warning"> Dziennik elektroniczny</span>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" *ngIf="auth.hasRole('ROLE_ADMIN')">
        <a class="nav-link" routerLink="/admin" [routerLinkActive]="['active']">Administrator</a>
      </li>
      <li class="nav-item" *ngIf="authenticated">
        <a class="nav-link" routerLink="/marks" [routerLinkActive]="['active']">Oceny</a>
      </li>
      <li class="nav-item" *ngIf="authenticated">
        <a class="nav-link" routerLink="/contact" [routerLinkActive]="['active']">Pomoc</a>
      </li>
    </ul>
  </div>

  <div *ngIf="authenticated" class="my-2 my-lg-0">
    <span class="navbar-text mr-2">Zalogowano jako: <span class="text-secondary">{{currentUser.username}}</span></span>
    <button class="btn btn-outline-warning my-2 my-sm-0" type="submit" (click)="logout()">Wyloguj</button>
  </div>
</nav>
