<div class="d-flex" id="wrapper">

  <div class="bg-light border" id="sidebar-wrapper">
    <div class="sidebar-heading">Panel administratora </div>
    <div class="list-group list-group-flush">
      <a class="list-group-item list-group-item-action bg-light" routerLink=""><i class="fa fa-home" aria-hidden="true"></i> Strona główna</a>
      <a class="list-group-item list-group-item-action bg-light" routerLink="users"><i class="fa fa-users" aria-hidden="true"></i> Użytkownicy</a>
      <a class="list-group-item list-group-item-action bg-light" routerLink="students"><i class="fa fa-graduation-cap" aria-hidden="true"></i> Uczniowie</a>
      <a class="list-group-item list-group-item-action bg-light" routerLink="teachers"><i class="fa fa-user-plus" aria-hidden="true"></i> Nauczyciele</a>
      <a class="list-group-item list-group-item-action bg-light" routerLink="semesters"><i class="fa fa-calendar-o" aria-hidden="true"></i> Semestry</a>
      <a class="list-group-item list-group-item-action bg-light" routerLink="subjects"><i class="fa fa-cube" aria-hidden="true"></i> Przedmioty</a>
      <a class="list-group-item list-group-item-action bg-light" routerLink="profiles"><i class="fa fa-object-group" aria-hidden="true"></i> Klasy</a>
    </div>
  </div>

  <div id="page-content-wrapper">
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
  </div>

</div>
