<div class="container">
  <div class="row">
    <div class="offset-3"></div>
    <div class="col-md-6">
      <form name="form" #f="ngForm" (ngSubmit)="f.form.valid && sendMessage()" novalidate class="contact-form">
        <div class="form-group">
          <label for="name">Imię</label>
          <input type="text"
                 id="name"
                 class="form-control"
                 name="name"
                 placeholder="Twoje imię"
                 [(ngModel)]="model.name"
                 #name="ngModel"
                 [ngClass]="{ 'is-invalid': f.submitted && name.invalid }"
                 required/>
          <div *ngIf="f.submitted && name.invalid" class="invalid-input">
            <div *ngIf="name.errors?.required">To pole jest wymagane</div>
          </div>
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="text"
                 id="email"
                 class="form-control"
                 name="email"
                 placeholder="Twój email"
                 [(ngModel)]="model.email"
                 #email="ngModel"
                 [ngClass]="{ 'is-invalid': f.submitted && email.invalid }"
                 required email/>
          <div *ngIf="f.submitted && email.invalid" class="invalid-input">
            <div *ngIf="email.errors?.required">To pole jest wymagane</div>
            <div *ngIf="email.errors?.email">Podany adres email jest niepoprawny</div>
          </div>
        </div>

        <div class="form-group">
          <label for="message">Wiadomość</label>
          <textarea
            id="message"
            class="form-control"
            name="message"
            placeholder="Twoja wiadomość"
            rows="10"
            [(ngModel)]="model.message"
            #message="ngModel"
            [ngClass]="{ 'is-invalid': f.submitted && message.invalid }"
            required minlength="10">
			    </textarea>
          <div *ngIf="f.submitted && message.invalid" class="invalid-input">
            <div *ngIf="message.errors?.required">To pole jest wymagane</div>
            <div *ngIf="message.errors?.minlength">Wiadomość jest za krótka (wymagane co najmniej 10 znaków)</div>
          </div>
        </div>

        <button type="submit" class="btn btn-info pull-right">
          <i class="fa fa-envelope-o"></i>
          <span> Wyślij</span>
        </button>
      </form>
    </div>
    <div class="offset-3"></div>
  </div>
</div>
