<h3 class="mt-4">Uczniowie</h3>
<ejs-grid #grid [dataSource]="students" [editSettings]='editSettings' [toolbar]='toolbar'
          (toolbarClick)='clickHandler($event)' (actionComplete)='actionComplete($event)'
          gridLines="Both">
  <e-columns>
    <e-column field="firstName" headerText="Imię"></e-column>
    <e-column field="lastName" headerText="Nazwisko"></e-column>
    <e-column field="username" headerText="Nazwa użytkownika"></e-column>
    <e-column field="parentName" headerText="Rodzic"></e-column>
  </e-columns>
</ejs-grid>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left" *ngIf="!editing">Tworzenie ucznia</h4>
    <h4 class="modal-title pull-left" *ngIf="editing">Edycja ucznia {{editedStudent.firstName}} {{editedStudent.lastName}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form name="form" #f="ngForm" novalidate class="contact-form">
      <div class="form-group">
        <label for="firstName">Imię</label>
        <input type="text"
               id="firstName"
               class="form-control"
               name="firstName"
               [(ngModel)]="editedStudent.firstName"
               #name="ngModel" />
      </div>
      <div class="form-group">
        <label for="lastName">Nazwisko</label>
        <input type="text"
               id="lastName"
               class="form-control"
               name="lastName"
               [(ngModel)]="editedStudent.lastName"
               #name="ngModel" />
      </div>
      <div class="form-group">
        <label for="parent">Rodzic</label>
        <select [(ngModel)]="editedStudent.parentId" id="parent" name="parent" class="form-control">
          <option *ngFor="let parent of freeParents" [ngValue]="parent.id">{{parent.username}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="user">Użytkownik</label>
        <select [(ngModel)]="editedStudent.userId" id="user" name="user" class="form-control">
          <option *ngFor="let user of freeUsers" [ngValue]="user.id">{{user.username}}</option>
        </select>
      </div>

    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn" aria-label="Close" (click)="modalRef.hide()">Zamknij</button>
    <button type="submit" class="btn btn-primary" (click)="f.form.valid && saveStudent(editedStudent)">Zapisz</button>
  </div>
</ng-template>
